@model Learn_Net_Core_ASP.Models.Rating

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="rating" class="control-label"></label>
                <input asp-for="rating" class="form-control" value="@Model.rating" />
                <span asp-validation-for="rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="review" class="control-label"></label>
                <input asp-for="review" class="form-control" value="@Model.review" />
                <span asp-validation-for="review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie_id" class="control-label"></label>
                <input asp-for="movie_id" class="form-control" value="@Model.movie.title"/>
                <span asp-validation-for="movie_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
