@page
@model Learn_Net_Core_ASP.Views.Movies.EditModel


<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.id" />
            <div class="form-group">
                <label asp-for="Movie.title" class="control-label"></label>
                <input asp-for="Movie.title" class="form-control" />
                <span asp-validation-for="Movie.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.releaseDate" class="control-label"></label>
                <input asp-for="Movie.releaseDate" class="form-control" />
                <span asp-validation-for="Movie.releaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.releaseYear" class="control-label"></label>
                <input asp-for="Movie.releaseYear" class="form-control" />
                <span asp-validation-for="Movie.releaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.blurb" class="control-label"></label>
                <input asp-for="Movie.blurb" class="form-control" />
                <span asp-validation-for="Movie.blurb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.language" class="control-label"></label>
                <input asp-for="Movie.language" class="form-control" />
                <span asp-validation-for="Movie.language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.genre" class="control-label"></label>
                <input asp-for="Movie.genre" class="form-control" />
                <span asp-validation-for="Movie.genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
